# API Title
VUE_APP_API_TITLE="Biker Training"

# API URL
# The URL must end with a /
VUE_APP_API_URL=/

#
# Prices
#

# BRC
VUE_APP_PRICE_BRC='0'
VUE_APP_PRICE_BRC_REENROLL='0'

# ERC
VUE_APP_PRICE_ERC='0'
VUE_APP_PRICE_ERC_REENROLL='0'

# 3WBRC
VUE_APP_PRICE_THREEWBRC='0'
VUE_APP_PRICE_THREEWBRC_RENTAL='0'
VUE_APP_PRICE_THREEWBRC_REENROLL='0'

# Kickstart
VUE_APP_PRICE_KICKSTART='0'

# Private
VUE_APP_PRICE_PRIVATE='0'

# Processing Fee
VUE_APP_PRICE_PROCESSING_FEE='0'

#
# Misc Settings
#

# Email
VUE_APP_BUSINESS_EMAIL='sammie@example.com'

# Phone
VUE_APP_BUSINESS_PHONE='555-867-5309'